---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "AI-Powered Solutions",
    description:
      "We leverage the power of AI to create innovative solutions that are tailored to your unique business needs, using cutting-edge technology and innovative approaches to solve your unique challenges.",
    icon: "bx:bxs-brain",
  },
  {
    title: "Cloud Native Solutions",
    description:
      "We design and implement cloud-native solutions that are scalable, resilient, and secure, allowing you to leverage the full potential of cloud computing.",
    icon: "bx:bxs-cloud",
  },
  {
    title: "Enterprise System Integration",
    description:
      "We integrate your existing systems with new software solutions, allowing you to streamline your operations and improve your business processes.",
    icon: "bx:bxs-server",
  },
  {
    title: "Custom Software Development",
    description:
      "We specialize in creating custom software solutions that are tailored to your unique business needs, using cutting-edge technology and innovative approaches to solve your unique challenges.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "SaaS & Mobile App Development",
    description:
      "We develop custom software solutions for SaaS and mobile apps, allowing you to streamline your operations and improve your business processes.",
    icon: "bx:bxs-mobile",
  },
  {
    title: "MVP Development for Startups",
    description:
      "We help startups develop their Minimum Viable Product (MVP) quickly and efficiently, allowing them to test their idea and gather feedback from users.",
    icon: "bx:bxs-rocket",
  },
];
---

<div id="services" class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Empowering Industries with Tailored Software Solutions
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We specialize in delivering tailored solutions to transform businesses
    across industries. Our expertise includes:
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
