---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Wide range of technology expertise</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="size-8 md:size-12" name="simple-icons:openai" />
    <Icon class="size-8 md:size-12" name="simple-icons:anthropic" />
    <Icon class="size-8 md:size-12" name="simple-icons:claude" />
    <Icon class="size-8 md:size-12" name="simple-icons:googlegemini" />
    <Icon class="size-8 md:size-12" name="simple-icons:n8n" />
    <Icon class="size-8 md:size-12" name="simple-icons:langchain" />
    <Icon class="size-8 md:size-12" name="simple-icons:langgraph" />
    <Icon class="size-8 md:size-12" name="simple-icons:tensorflow" />
    <Icon class="size-8 md:size-12" name="simple-icons:make" />
    <Icon class="size-8 md:size-12" name="simple-icons:python" />
    <Icon class="size-8 md:size-12" name="simple-icons:javascript" />
    <Icon class="size-8 md:size-12" name="simple-icons:jupyter" />
    <Icon class="size-8 md:size-12" name="simple-icons:airtable" />
    <Icon class="size-8 md:size-12" name="simple-icons:apachecassandra" />
    <Icon class="size-8 md:size-12" name="simple-icons:dbt" />
    <Icon class="size-8 md:size-12" name="simple-icons:mongodb" />
    <Icon class="size-8 md:size-12" name="simple-icons:googlecloud" />
    <Icon class="size-8 md:size-12" name="simple-icons:docker" />
    <Icon class="size-8 md:size-12" name="simple-icons:kubernetes" />
  </div>
</div>
